### Add parentheses where necessary so that each of the following expressions evaluates to True:

In [2]:
# TODO
False == (not True)

True

In [3]:
# TODO
(True and False) ==(True and False)

True

In [5]:
# TODO
not (True and "A") == "B"

True

In [7]:
# TODO
False == False in [False]

True

In [8]:
# TODO
(1 == 2 )== 0

True

### Construct a list of numbers from `1` to `1000`, then use `len()` function to assert the list length.

In [9]:
# TODO
nums_list = list(range(1,1001))
print(nums_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [10]:
# TODO
len(nums_list)

1000

### Subset the first 50 numbers from `nums_list` into another list and assign it to `sliced`.

In [11]:
# TODO
sliced =list(nums_list[0:50])
print(sliced)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### Filter odd and even numbers in `sliced` to `odd_nums_list` and `even_nums_list` respectively.

In [29]:
# TODO 
# Instantiate two lists for splitting numbers to odd or even:
odd_nums_list = []
even_nums_list = []

# Iterate over the original list:
for num in sliced:
    # If number is even append to even_nums_list:
    if num % 2 == 0:
        even_nums_list.append(num)
    # If number is odd append to odd_nums_list:
    else:
        odd_nums_list.append(num)

In [31]:
odd_nums_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [32]:
even_nums_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

### Write a Python program to count Even and Odd numbers in a List:
> - Input: `[2, 7, 5, 64, 14]`
> - Output: `even` = 3, `odd` = 2

In [25]:
nums_list = [2, 7, 5, 64, 14]

In [37]:
# TODO
#even_numbers_in_nums_list:
even_nums_list=[num for num in nums_list if num % 2==0]

#length_of_even_nums_list:
len(even_nums_list)

3

In [38]:
# TODO
#odd_numbers_in_nums_list:
odd_nums_list=[num for num in nums_list if num % 2!=0]

#length_of_odd_nums_list:
len(odd_nums_list)

2

### Use list indexing to determine how many days are in a particular month based on the integer variable `month`, and store that value in the integer variable `num_of_days_per_month`. For example, if `month` is `8`, `num_of_days_per_month` should be set to `31`, since the eighth month, August, has 31 days.

In [35]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [39]:
# TODO
num_of_days_per_month =days_in_month[month-1]
print(num_of_days_per_month)

31

### Return a copy of `dates_list` with the dates sorted in ascending order (without altering the original list).

In [42]:
dates_list = ['1972-07-30',  '2014-03-13', '2018-08-06', '1973-04-16', '1996-07-10',
              '2019-02-20', '2012-02-26', '1991-04-07', '2013-05-22', '2019-12-28',
              '2010-03-05', '2016-05-16', '1976-01-02', '2005-01-09', '1977-11-09',
              '1981-08-12', '1971-08-08', '1988-11-27', '2014-10-16', '2009-12-12']

In [43]:
#TODO
dates_list_sorted_copy= sorted(dates_list)
dates_list_sorted_copy

['1971-08-08',
 '1972-07-30',
 '1973-04-16',
 '1976-01-02',
 '1977-11-09',
 '1981-08-12',
 '1988-11-27',
 '1991-04-07',
 '1996-07-10',
 '2005-01-09',
 '2009-12-12',
 '2010-03-05',
 '2012-02-26',
 '2013-05-22',
 '2014-03-13',
 '2014-10-16',
 '2016-05-16',
 '2018-08-06',
 '2019-02-20',
 '2019-12-28']

### Select the three most recent dates from `dates_list_sorted_copy` using list slicing notation.

In [44]:
# TODO
dates_list_sorted_copy[-3:]

['2018-08-06', '2019-02-20', '2019-12-28']

### There is something wrong with this code, fix it to return the list `nums_list` sorted in ascending order.

In [45]:
# TODO
nums_list = [6, 4, 7, 3, 5, 8, 9]
nums_list.sort()
nums_list

[3, 4, 5, 6, 7, 8, 9]

### Return a string `names_str` containing names in `names_list` sorted in ascending order and separated by a comma (`,`).

In [46]:
names_list = ['John Hall', 'Nicole Morrison', 'Matthew Romero', 'Diana Smith']

In [47]:
# TODO
names_str =",".join(names_list)
names_str

'John Hall,Nicole Morrison,Matthew Romero,Diana Smith'

### Combine these two lists together `[1, 2, 3, 4]` & `[5, 6, 7, 8]` to create a new `nums_list` using three different methods.

In [48]:
# TODO
#by_addition_method:
nums_list =[1, 2, 3, 4]
nums_list+[5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
# TODO
#by_extend_method:
nums_list = [1, 2, 3, 4]
nums_list.extend([5, 6, 7, 8])
nums_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
# TODO
nums_list =[1, 2, 3, 4]
nums_list_02=[5, 6, 7, 8]
for n in nums_list_02:
    nums_list.append(n)
     
print(nums_list)

[1, 2, 3, 4, 5, 6, 7, 8]

### Create a new list `unique_nums_list` that contains non-duplicate elements from `nums_list`.

In [51]:
nums_list = [1, 4, 5, 2, 4, 5, 4, 6, 7, 6, 8]

In [52]:
# TODO
unique_nums_list=[]

for n in nums_list:
    if n not in unique_nums_list:
       unique_nums_list.append(n)
print(unique_nums_list)

[1, 4, 5, 2, 6, 7, 8]

### Modify the following code so that `nums_list_01` and `nums_list_02` are two different objects.

In [53]:
# TODO
nums_list_01 = [1, 2, 3, 4]
nums_list_02 = [1, 2, 3, 4]

In [54]:
# The result should be True
nums_list_01 == nums_list_02

True

In [55]:
# The result should be False
nums_list_01 is nums_list_02

False

### Given a list `nums_list` , write a program to swap first and last elements in a list:
> - Input : `[12, 35, 9, 56, 24]`
> - Output : `[24, 35, 9, 56, 12]`

In [56]:
nums_list = [12, 35, 9, 56, 24]

In [57]:
# TODO
nums_list[0],nums_list[4]=nums_list[4],nums_list[0]
nums_list

[24, 35, 9, 56, 12]

### Write a Python program to find second largest number in a list:
> - Input: list1 =` [10, 20, 4]`
> - Output: `10`

In [58]:
nums_list = [10, 20, 4]

In [59]:
# TODO
nums_list = [10, 20, 4]
sorted(nums_list, reverse=True)[1]

10

### Write a Python program to print all negative numbers in a range (from `a` to `b`):
> - Input: `a = -4`, `b = 5`
> - Output: `-4, -3, -2, -1`

In [60]:
a, b = -4, 5

In [62]:
# TODO
nums_list=list(range(-4,5))
nums_list

# to_print_all_negative_numbers_in_a_range_(from a to b)

negative_list=[]
for n in nums_list:
    if (n<=0):
        negative_list.append(n)
print(negative_list)

[-4, -3, -2, -1, 0]